<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Initial Cash Amount</title>
    <link rel="stylesheet" href="/static/style2.css">
</head>
<body>
    
        <div class="management-container">
            <h2 class="management-title">Petty Kadai Management</h2>
            <form action="/add_item" method="post">
                <button type="submit" class="submit-btn">ADD ITEM</button>
            </form>
            <form action="/purchase" method="post">
                <button type="submit" class="submit-btn">UPDATE PURCHASE DETAILS</button>
            </form>
            <form action="/sales" method="post">
                <button type="submit" class="submit-btn">UPDATE SALES DETAILS</button>
            </form>

           
        </div>
    </body>
</body>
</html>
