<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Namma Kadai - Login and Sign Up</title>
    <link rel="stylesheet" href="/static/style.css">
    
    
</head>

<body>
    <form action="/wel" method="post">
    <div class="welcome-container">
        <h2 class="welcome-title">WELCOME</h2>
        <label for="company-name">Company Name:</label>
                <input type="text" id="company-name" name="company_name" required>
            </div>
            <div class="form-group">
                <label for="initial-cash">Initial Cash Balance:</label>
                <input type="number" id="initial-cash" name="cash_balance" step="0.01" required>
            </div>
            <button type="submit" class="submit-btn">Enter Cash</button>
        
        </form>
    </div>
</body>

</html>
